body{
    background-color: #0E0719;
}
header{
    width: 1200px;
    height: 120px;
    background-color: #4D2E5B;
}
main{
    width: 1200px;
    height: 680px;
    background-color: #24163A;
}
footer{
    width: 1200px;
    height: 216px;
    background-color: #4D2E5B;
}